body {
    background: url("../../img/wuzhen/wuzhen.jpg") no-repeat;
    background-size: 100% auto;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.content-title {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color: #1F8D71;
    text-align: center;
    margin: 70px 0 0 0;
}

.content-welcome {
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #9CABD2;
    text-align: center;
    margin: 20px 0 0 0;
}

.login-box {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 270px;
    margin: 45px auto 0 auto;
    border-radius: 10px;
}

.login-box-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    filter: alpha(Opacity=80); /*对ie实现半透明效果,代表实现ie80%半透明*/
    -moz-opacity: 0.5; /*对mozilla firefox火狐浏览器实现半透明,代表50%半透明*/
    opacity: 0.5; /*对chrome浏览器50%半透明*/
    z-index: 1;
}

.login-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 5;
}

.inputWrapUsername {
    position: relative;
    height: 40px;
    width: 70%;
    margin: 50px auto 30px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #cacaca;
}

.inputWrapUsername .name {
    width: 85%;
    height: 100%;
    padding-left: 40px;
    border-radius: 5px;
}

.inputWrap-i {
    position: absolute;
    top: 9px;
    left: 10px;
}

.inputWrapPassword {
    position: relative;
    height: 40px;
    width: 70%;
    margin: 35px auto 30px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #cacaca;
}

.inputWrapPassword .password {
    width: 85%;
    height: 100%;
    padding-left: 40px;
    border-radius: 5px;
}

.submitWrap {
    height: 32px;
    width: 70%;
    margin: 36px auto 30px auto;
    background-color: #1F8E72;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    width: 100%;
    height: 100%;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #cacaca;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #cacaca;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cacaca;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cacaca;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cacaca;
}