.main {
	background: #EEEEEE;
}

.header {
	height: 40px;
	width: 100%;
	background: #fff;
	border: 1px solid #000000;
}

.home {
	padding: 10px 20px 10px 10px;
	display: inline-block;
	font-size: 14px;
	color: #666666;
}

.notification {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	height: 40px;
	width: 98%;
	background: #FFF;
	border: 1px solid #e1e1e1;
	border-left: 2px solid #008CBA;
}

.noti-logo {
	font-weight: bold;
	font-size: 12px;
	line-height: 35px;
	margin-left: 5px;
	color: #666666;
}

.news {
	margin-left: 10px;
	font-size: 15px;
}

.news:hover {
	color: #66ccff;
}

.select {
	width: 100%;
}

.select-span {
	width: 130px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	font-family: "microsoft yahei", "寰�杞����榛�", Arial, Helvetica, sans-serif;
	color: #555;
	border: 1px solid #cdcdcd;
	background-color: #f9f9f9;
	border-radius: .3em 0 0 .3em;
}

.timeline {
	margin-top: 5px;
}

.load-button {
	width: 350px;
	height: 33px;
	border-radius: .3em;
	margin-left: 60px;
	color: #FFFFFF;
	background: #008CBA;
	text-align: center;
	line-height: 33px;
	font-size: 15px;
	cursor: pointer;
}

.load-button:active {
	background: #87CEEB;
}

.choose-box {
	background: #fff;
	height: 50px;
	width: 155px;
	margin: 10px 0 10px 30px;
	padding: 10px 0 10px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.placeholder {
	height: 300px;
	max-width: 100%;
}


/*.choose-button {
	height: 30px;
	width: 50px;
	background: #74777B;
	border-radius: 5px;
	color: white;
	text-align: center;
	line-height: 30px;
}*/

.choose-button {
	background: #2981e4 url(../../img/research/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer
}

.choose-button-focus {
	background: #2981ff url(../../img/research/overlay.png) repeat-x;
}

.chartbox {
	width: 80%;
	margin-left: 30px;
}

.boxhide {
	display: none;
}