<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasi.dao.AttandenceRecordDao">

    <!-- *********************************结果映射********************************* -->
    <resultMap id="BaseResultMap" type="com.yasi.vo.AttandenceRecord">
        <result column="work_number" property="workNumber" jdbcType="CHAR"/>
        <result column="date" property="date" jdbcType="CHAR"/>
        <result column="day" property="day" jdbcType="CHAR"/>
        <result column="time" property="time" jdbcType="CHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <!-- *********************************公共嵌入块********************************* -->
    <!-- 所有输出列 -->
    <sql id="publicOutCol">
		attandence_record.work_number AS workNumber,
		attandence_record.date AS date,
		attandence_record.day AS day,
		attandence_record.time AS time,
		attandence_record.state AS state
	</sql>

    <!-- 所有输入列 -->
    <sql id="publicInCol">
		#{workNumber}, #{date}, #{day}, #{time}, #{state}
	</sql>

    <sql id="publicInsertCol">
		work_number, date, day, time, state
	</sql>

    <!-- 所有设值列 -->
    <sql id="publicSet">
        <set>
            <if test="workNumber != null">
                work_number = #{workNumber,jdbcType=CHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=CHAR},
            </if>
            <if test="day != null">
                day = #{day,jdbcType=CHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=CHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
    </sql>

    <!-- 主键条件 -->
    <sql id="publicWhereKey">
        <!-- 		WHERE id = #{id}  -->
    </sql>

    <!-- 所有条件 -->
    <sql id="publicWhere">
        <where>
            <if test="workNumber != null">
                and work_number = #{workNumber,jdbcType=CHAR}
            </if>
            <if test="date != null">
                and date = #{date,jdbcType=CHAR}
            </if>
            <if test="day != null">
                and day = #{day,jdbcType=CHAR}
            </if>
            <if test="time != null">
                and time = #{time,jdbcType=CHAR}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <!-- *********************************添加********************************* -->
    <!-- 新增 -->
    <insert id="insertAttandenceRecord" parameterType="com.yasi.vo.AttandenceRecord">
        INSERT INTO yasi.attandence_record (<include refid="publicInsertCol"/>)
        VALUES (<include refid="publicInCol"/>)
    </insert>

    <!-- *********************************修改********************************* -->
    <!-- 修改 -->
    <!--     <update id="updateSignTaskRec" parameterType="SignTaskRecVO" >  -->
    <!--         UPDATE activity.sign_task_rec SET <include refid="publicSet"/>  -->
    <!--         <include refid="publicWhereKey"/>   -->
    <!--     </update>  -->

    <!-- *********************************删除********************************* -->
    <!-- 删除 -->
    <!--     <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
    <!--         DELETE FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhereKey"/>  -->
    <!--     </delete> -->

    <!-- *********************************查询********************************* -->
    <!-- 根据主键查询信息 -->
    <!--     <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO" > -->
    <!-- 	    SELECT <include refid="publicOutCol"/>  FROM activity.sign_task_rec  -->
    <!-- 	    <include refid="publicWhereKey"/>  -->
    <!--     </select> -->

    <!-- 获取记录数 -->
    <!--     <select id="findSignTaskRecCountByPojo"  parameterType="SignTaskRecVO" resultType="java.lang.Integer"> -->
    <!--         SELECT count(*) FROM activity.sign_task_rec <include refid="publicWhere"/>     -->
    <!--     </select>  -->

    <!-- 对象条件查询 -->
    <select id="findAttandenceRecordByPojo" parameterType="com.yasi.vo.AttandenceRecord" resultType="com.yasi.vo.AttandenceRecord">
        SELECT
        <include refid="publicOutCol"/>
        FROM yasi.attandence_record
        <include refid="publicWhere"/>
        order by attandence_record.date ASC
    </select>

    <!-- map条件查询 -->
    <!--     <select id="findSignTaskRecByWhere"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhere"/> -->
    <!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
    <!-- 	        order by ${sortName}  ${orderName} -->
    <!-- 	    </if>   -->
    <!-- 	    <if test="pageStart != null and rows != null">   -->
    <!-- 	        LIMIT #{pageStart},#{rows} -->
    <!-- 	    </if>   -->
    <!--     </select> -->

    <!-- 查询分页记录 -->
    <!--     <select id="findSignTaskRecByPage"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhere"/>  -->
    <!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
    <!-- 	        order by ${sortName}  ${orderName} -->
    <!-- 	    </if>   -->
    <!-- 		LIMIT #{pageStart},#{rows} -->
    <!--     </select> -->

    <!-- 根据条件获取列表信息 -->
    <!-- 	<select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String" resultType="SignTaskRecVO" > -->
    <!-- 	    SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec WHERE 1=1  -->
    <!-- 	    <![CDATA[ -->
    <!-- 	    ${querySql} -->
    <!-- 	    ]]> -->
    <!--     </select> -->


</mapper>
