<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yasi.dao.AttendanceRecord02Dao">
    <resultMap id="BaseResultMap" type="com.yasi.model.AttendanceRecord02">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="work_number" property="workNumber" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="hours" property="hours" jdbcType="DOUBLE"/>
        <result column="start_position" property="startPosition" jdbcType="VARCHAR"/>
        <result column="end_position" property="endPosition" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tb">
    attendance_record02
  </sql>

    <sql id="cols_all">
    id, work_number, type, start_time, end_time, hours, start_position, end_position
  </sql>

    <sql id="vals">
    #{id}, #{workNumber}, #{type}, #{startTime}, #{endTime}, #{hours}, #{startPosition},#{endPosition}
  </sql>

    <sql id="criteria">
        WHERE 1 = 1
        <if test="workNumber != null">AND work_number = #{workNumber}</if>
        <if test="type != null">AND type = #{type}</if>
        <if test="startTime != null">AND start_time = #{startTime}</if>
        <if test="endTime != null">AND end_time = #{endTime}</if>
        <if test="hours != null">AND hours = #{hours}</if>
        <if test="startPosition != null">AND start_position = #{startPosition}</if>
        <if test="endPosition != null">AND end_position = #{endPosition}</if>
    </sql>


    <insert id="create" parameterType="com.yasi.model.AttendanceRecord02" keyProperty="id">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_all"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="load" parameterType="long" resultMap="BaseResultMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="loadByCriteria" parameterType="map">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <include refid="criteria"/>
    </select>

</mapper>