<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasi.dao.CustomerMapper">
    <!-- *********************************公共嵌入块********************************* -->
    <!-- 所有输出列 -->
    <sql id="publicOutCol">
		ck_customer.id AS id,
      ck_customer.no AS no,
      ck_customer.name AS name,
      ck_customer.short_name AS shortName,
      ck_customer.short_no AS shortNo,
      ck_customer.province AS province,
      ck_customer.city AS city,
      ck_customer.area AS area,
      ck_customer.address AS address,
      ck_customer.customer_type_id AS customerTypeId,
      ck_customer.work_group AS workGroup,
      ck_customer.customer_trans_group_id AS customerTransGroupId,
      ck_customer.xaxis AS xaxis,
      ck_customer.yaxis AS yaxis,
      ck_customer.saas_no AS saasNo,
      ck_customer.old_no AS oldNo,
      ck_customer.creator AS creator,
      ck_customer.created_at AS createdAt,
      ck_customer.updator AS updator,
      ck_customer.updated_at AS updatedAt
	</sql>

    <!-- 所有输入列 -->
    <sql id="publicInCol">
      #{id,jdbcType=CHAR}, #{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR},
      #{shortNo,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{customerTypeId,jdbcType=CHAR},
      #{workGroup,jdbcType=VARCHAR}, #{customerTransGroupId,jdbcType=CHAR}, #{xaxis,jdbcType=DECIMAL},
      #{yaxis,jdbcType=DECIMAL}, #{saasNo,jdbcType=VARCHAR}, #{oldNo,jdbcType=VARCHAR},
      #{creator,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updator,jdbcType=CHAR},
      #{updatedAt,jdbcType=TIMESTAMP}
	</sql>

    <sql id="publicInsertCol">
		id, no, name, short_name, short_no, province, city, area, address, customer_type_id,
        work_group, customer_trans_group_id, xaxis, yaxis, saas_no, old_no, creator, created_at,
        updator, updated_at
	</sql>

    <!-- 所有设值列 -->
    <sql id="publicSet">
		id = #{id,jdbcType=CHAR},
      no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      short_no = #{shortNo,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      customer_type_id = #{customerTypeId,jdbcType=CHAR},
      work_group = #{workGroup,jdbcType=VARCHAR},
      customer_trans_group_id = #{customerTransGroupId,jdbcType=CHAR},
      xaxis = #{xaxis,jdbcType=DECIMAL},
      yaxis = #{yaxis,jdbcType=DECIMAL},
      saas_no = #{saasNo,jdbcType=VARCHAR},
      old_no = #{oldNo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=CHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
	</sql>

    <!-- 主键条件 -->
    <sql id="publicWhereKey">
    </sql>

    <!-- 所有条件 -->
    <sql id="publicWhere">
        WHERE 1=1
        <if test="id != null">
            id = #{id,jdbcType=CHAR},
        </if>
        <if test="no != null">
            no = #{no,jdbcType=VARCHAR},
        </if>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="shortName != null">
            short_name = #{shortName,jdbcType=VARCHAR},
        </if>
        <if test="shortNo != null">
            short_no = #{shortNo,jdbcType=VARCHAR},
        </if>
        <if test="province != null">
            province = #{province,jdbcType=VARCHAR},
        </if>
        <if test="city != null">
            city = #{city,jdbcType=VARCHAR},
        </if>
        <if test="area != null">
            area = #{area,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            address = #{address,jdbcType=VARCHAR},
        </if>
        <if test="customerTypeId != null">
            customer_type_id = #{customerTypeId,jdbcType=CHAR},
        </if>
        <if test="workGroup != null">
            work_group = #{workGroup,jdbcType=VARCHAR},
        </if>
        <if test="customerTransGroupId != null">
            customer_trans_group_id = #{customerTransGroupId,jdbcType=CHAR},
        </if>
        <if test="xaxis != null">
            xaxis = #{xaxis,jdbcType=DECIMAL},
        </if>
        <if test="yaxis != null">
            yaxis = #{yaxis,jdbcType=DECIMAL},
        </if>
        <if test="saasNo != null">
            saas_no = #{saasNo,jdbcType=VARCHAR},
        </if>
        <if test="oldNo != null">
            old_no = #{oldNo,jdbcType=VARCHAR},
        </if>
        <if test="creator != null">
            creator = #{creator,jdbcType=CHAR},
        </if>
        <if test="createdAt != null">
            created_at = #{createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="updator != null">
            updator = #{updator,jdbcType=CHAR},
        </if>
        <if test="updatedAt != null">
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        </if>
    </sql>

    <!-- *********************************添加********************************* -->
    <!-- 新增 -->
    <!-- <insert id="insertEmp" parameterType="EmpVO" > INSERT INTO test2.emp
        (<include refid="publicInsertCol"/>) VALUES (<include refid="publicInCol"/>)
        </insert> -->

    <!-- *********************************修改********************************* -->
    <!-- 修改 -->
    <!-- <update id="updateSignTaskRec" parameterType="SignTaskRecVO" > -->
    <!-- UPDATE activity.sign_task_rec SET <include refid="publicSet"/> -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </update> -->

    <!-- *********************************删除********************************* -->
    <!-- 删除 -->
    <!-- <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
    <!-- DELETE FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </delete> -->

    <!-- *********************************查询********************************* -->

    <select id="findByPojo" parameterType="CustomerVO"
            resultType="CustomerVO">
        SELECT
        <include refid="publicOutCol"/>
        FROM yasi.ck_customer
        <include refid="publicWhere"/>
        ORDER BY id ASC
    </select>
    <!-- 根据主键查询信息 -->
    <!-- <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO"
        > -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </select> -->

    <!-- 获取记录数 -->
    <!-- <select id="findSignTaskRecCountByPojo" parameterType="SignTaskRecVO"
        resultType="java.lang.Integer"> -->
    <!-- SELECT count(*) FROM activity.sign_task_rec <include refid="publicWhere"/> -->
    <!-- </select> -->

    <!-- 对象条件查询 -->
    <!-- <select id="findYascmfContentsByPojo" parameterType="YascmfContentsVO"
        resultType="YascmfContentsVO"> SELECT <include refid="publicOutCol"/> FROM
        yasi.yascmf_contents <include refid="publicWhere"/> </select> -->

    <!-- map条件查询 -->
    <!-- <select id="findSignTaskRecByWhere" parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhere"/> -->
    <!-- <if test="sortName != null and sortName != '' and orderName != null
        and orderName!=''"> -->
    <!-- order by ${sortName} ${orderName} -->
    <!-- </if> -->
    <!-- <if test="pageStart != null and rows != null"> -->
    <!-- LIMIT #{pageStart},#{rows} -->
    <!-- </if> -->
    <!-- </select> -->

    <!-- 查询分页记录 -->
    <!-- <select id="findSignTaskRecByPage" parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhere"/> -->
    <!-- <if test="sortName != null and sortName != '' and orderName != null
        and orderName!=''"> -->
    <!-- order by ${sortName} ${orderName} -->
    <!-- </if> -->
    <!-- LIMIT #{pageStart},#{rows} -->
    <!-- </select> -->

    <!-- 根据条件获取列表信息 -->
    <!-- <select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String"
        resultType="SignTaskRecVO" > -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec
        WHERE 1=1 -->
    <!-- <![CDATA[ -->
    <!-- ${querySql} -->
    <!-- ]]> -->
    <!-- </select> -->


</mapper>
