<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yasi.dao.NineSkyDataMapper">
    <!-- *********************************公共嵌入块********************************* -->
    <!-- 所有输出列 -->
    <resultMap id="BaseResultMap" type="com.yasi.model.NineSkyData" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="conductivity" property="conductivity" jdbcType="INTEGER" />
        <result column="temperature" property="temperature" jdbcType="INTEGER" />
        <result column="ph" property="ph" jdbcType="INTEGER" />
        <result column="ntu" property="ntu" jdbcType="INTEGER" />
        <result column="dissolved_oxygen" property="dissolvedOxygen" jdbcType="INTEGER" />
        <result column="flow" property="flow" jdbcType="INTEGER" />
        <result column="ct_state" property="ctState" jdbcType="INTEGER" />
        <result column="ph_state" property="phState" jdbcType="INTEGER" />
        <result column="ntu_state" property="ntuState" jdbcType="INTEGER" />
        <result column="do_state" property="doState" jdbcType="INTEGER" />
        <result column="fl_state" property="flState" jdbcType="INTEGER" />
        <result column="date_time" property="dateTime" jdbcType="VARCHAR" />
        <result column="instrument_id" property="instrumentId" jdbcType="VARCHAR" />
        <result column="location" property="location" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="tb">
        nineskydata
    </sql>

    <sql id="vals">
      #{conductivity,jdbcType=INTEGER}, #{temperature,jdbcType=INTEGER},
      #{ph,jdbcType=INTEGER}, #{ntu,jdbcType=INTEGER}, #{dissolvedOxygen,jdbcType=INTEGER},
      #{flow,jdbcType=INTEGER}, #{ctState,jdbcType=INTEGER}, #{phState,jdbcType=INTEGER},
      #{ntuState,jdbcType=INTEGER}, #{doState,jdbcType=INTEGER}, #{flState,jdbcType=INTEGER},
      #{dateTime,jdbcType=VARCHAR}, #{instrumentId,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}
    </sql>

    <sql id="cols_all">
    id,conductivity, temperature, ph, ntu, dissolved_oxygen, flow, ct_state, ph_state,
    ntu_state, do_state, fl_state, date_time, instrument_id, location
    </sql>

    <sql id="publicSet">
        conductivity = #{conductivity},
        temperature = #{temperature},
        ph = #{ph},
        ntu = #{ntu},
        dissolved_oxygen = #{dissolvedOxygen},
        flow = #{flow},
        ct_state = #{ctState},
        ph_state = #{phState},
        ntu_state = #{ntuState},
        do_state = #{doState},
        fl_state = #{flState},
        date_time = #{dateTime},
        instrument_id = #{instrumentId},
        location = #{location}
    </sql>

    <!-- 主键条件 -->
    <sql id="publicWhereKey">
        id = #{id}
    </sql>

    <!-- 所有条件 -->
    <sql id="publicWhere">
        WHERE 1=1
        <if test="conductivity != null">
            AND conductivity = #{conductivity,jdbcType=INTEGER}
        </if>
        <if test="temperature != null">
            AND temperature = #{temperature,jdbcType=INTEGER}
        </if>
        <if test="ph != null">
            AND ph = #{ph,jdbcType=INTEGER}
        </if>
        <if test="ntu != null">
            AND ntu = #{ntu,jdbcType=INTEGER}
        </if>
        <if test="dissolvedOxygen != null">
            AND dissolved_oxygen = #{dissolvedOxygen,jdbcType=INTEGER}
        </if>
        <if test="flow != null">
            AND flow = #{flow,jdbcType=INTEGER}
        </if>
        <if test="ctState != null">
            AND ct_state = #{ctState,jdbcType=INTEGER}
        </if>
        <if test="phState != null">
            AND ph_state = #{phState,jdbcType=INTEGER}
        </if>
        <if test="ntuState != null">
            AND ntu_state = #{ntuState,jdbcType=INTEGER}
        </if>
        <if test="doState != null">
            AND do_state = #{doState,jdbcType=INTEGER}
        </if>
        <if test="flState != null">
            AND fl_state = #{flState,jdbcType=INTEGER}
        </if>
        <if test="dateTime != null">
            AND date_time = #{dateTime,jdbcType=VARCHAR}
        </if>
        <if test="instrumentId != null">
            AND instrument_id = #{instrumentId,jdbcType=VARCHAR}
        </if>
        <if test="location != null">
            AND location = #{location,jdbcType=VARCHAR}
        </if>
    </sql>

    <insert id="insert" parameterType="com.yasi.model.NineSkyData">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_all"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <!-- 修改 -->
     <update id="update" parameterType="com.yasi.model.NineSkyData" >
     UPDATE <include refid="tb"/> SET <include refid="publicSet"/>
     WHERE
     <include refid="publicWhereKey"/>
     </update>

    <!-- 查询 -->
    <select id="findByPojo" parameterType="com.yasi.model.NineSkyData"
            resultMap="BaseResultMap">
        SELECT
        <include refid="cols_all" />
        FROM <include refid="tb"/>
        <include refid="publicWhere" />
    </select>

    <!-- 根据时间查询 -->
    <select id="findByTime" resultMap="BaseResultMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        <![CDATA[
		WHERE instrument_id = #{instrumentId}
		AND date_time > #{start}
		AND date_time < #{end}
		]]>
        ORDER BY date_time ASC;
    </select>

</mapper>