<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasi.dao.YascmfTcplogsDao">
    <!-- *********************************公共嵌入块********************************* -->
    <!-- 所有输出列 -->
    <sql id="publicOutCol">
		yascmf_tcplogs.date AS date,
		yascmf_tcplogs.log AS log,
		yascmf_tcplogs.state AS state
	</sql>

    <!-- 所有输入列 -->
    <sql id="publicInCol">
		#{date}, #{log} ,#{state}
	</sql>

    <sql id="publicInsertCol">
		date, log ,state
	</sql>

    <!-- 所有设值列 -->
    <sql id="publicSet">
		date = #{date},
		log = #{log},
		state = #{state}
	</sql>

    <!-- 主键条件 -->
    <sql id="publicWhereKey">
    </sql>

    <!-- 所有条件 -->
    <sql id="publicWhere">
        WHERE 1=1
        <if test="date != null and date != ''">
            AND yascmf_tcplogs.date = #{date}
        </if>
        <if test="log != null and log != ''">
            AND yascmf_tcplogs.log = #{log}
        </if>
        <if test="state != null and state != ''">
            AND yascmf_tcplogs.state = #{state}
        </if>
    </sql>

    <!-- *********************************添加********************************* -->
    <!-- 新增 -->
    <insert id="insertYascmfTcplogs" parameterType="YascmfTcplogsVO">INSERT INTO yasi.yascmf_tcplogs
        (<include refid="publicInsertCol"/>) VALUES (<include refid="publicInCol"/>)
    </insert>

    <!-- *********************************修改********************************* -->
    <!-- 修改 -->
    <!-- <update id="updateSignTaskRec" parameterType="SignTaskRecVO" > -->
    <!-- UPDATE activity.sign_task_rec SET <include refid="publicSet"/> -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </update> -->

    <!-- *********************************删除********************************* -->
    <!-- 删除 -->
    <!-- <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
    <!-- DELETE FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </delete> -->

    <!-- *********************************查询********************************* -->

    <!-- <select id="findAreasInstrumentsByPojo" parameterType="AreasInstrumentsVO" -->
    <!-- resultType="AreasInstrumentsVO"> -->
    <!-- SELECT -->
    <!-- <include refid="publicOutCol" /> -->
    <!-- FROM yasi.yascmf_areas -->
    <!-- LEFT JOIN yasi.yascmf_instruments ON -->
    <!-- left(yascmf_instruments.instrument_id, 1) = yascmf_areas.prefix -->
    <!-- <include refid="publicWhere" /> -->
    <!-- ORDER BY prefix DESC -->
    <!-- </select> -->
    <!-- 根据主键查询信息 -->
    <!-- <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO"
        > -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhereKey"/> -->
    <!-- </select> -->

    <!-- 获取记录数 -->
    <!-- <select id="findSignTaskRecCountByPojo" parameterType="SignTaskRecVO"
        resultType="java.lang.Integer"> -->
    <!-- SELECT count(*) FROM activity.sign_task_rec <include refid="publicWhere"/> -->
    <!-- </select> -->

    <!-- 对象条件查询 -->
    <select id="findYascmfTcplogsByPojo" parameterType="YascmfTcplogsVO"
            resultType="YascmfTcplogsVO">
        SELECT
        <include refid="publicOutCol"/>
        FROM yasi.yascmf_tcplogs
        <include refid="publicWhere"/>
        ORDER BY date DESC
--         LIMIT 10
    </select>

    <!-- map条件查询 -->
    <!-- <select id="findSignTaskRecByWhere" parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhere"/> -->
    <!-- <if test="sortName != null and sortName != '' and orderName != null
        and orderName!=''"> -->
    <!-- order by ${sortName} ${orderName} -->
    <!-- </if> -->
    <!-- <if test="pageStart != null and rows != null"> -->
    <!-- LIMIT #{pageStart},#{rows} -->
    <!-- </if> -->
    <!-- </select> -->

    <!-- 查询分页记录 -->
    <!-- <select id="findSignTaskRecByPage" parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec -->
    <!-- <include refid="publicWhere"/> -->
    <!-- <if test="sortName != null and sortName != '' and orderName != null
        and orderName!=''"> -->
    <!-- order by ${sortName} ${orderName} -->
    <!-- </if> -->
    <!-- LIMIT #{pageStart},#{rows} -->
    <!-- </select> -->

    <!-- 根据条件获取列表信息 -->
    <!-- <select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String"
        resultType="SignTaskRecVO" > -->
    <!-- SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec
        WHERE 1=1 -->
    <!-- <![CDATA[ -->
    <!-- ${querySql} -->
    <!-- ]]> -->
    <!-- </select> -->


</mapper>
