<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasi.dao.YascmfDatasDao">
	<!-- *********************************公共嵌入块********************************* -->
	<!-- 所有输出列 -->
	<sql id="publicOutCol"> 
		yascmf_datas.id AS id,
		yascmf_datas.model AS model,
		yascmf_datas.instrument_id AS instrumentId,
		yascmf_datas.date_time AS dateTime,
		yascmf_datas.coordinate AS coordinate,
		yascmf_datas.ph AS ph,
		yascmf_datas.conductivity AS conductivity,
		yascmf_datas.water_temperature AS waterTemperature,
		yascmf_datas.ammonia_nitrogen AS ammoniaNitrogen,
		yascmf_datas.dissolved_oxygen AS dissolvedOxygen,
		yascmf_datas.level AS level,
		yascmf_datas.exception AS exception,
		yascmf_datas.ntu AS ntu,
		yascmf_datas.P AS p
	</sql>
	
	<!-- 所有输入列 -->
	<sql id="publicInCol"> 
        #{id,jdbcType=INTEGER}, #{model,jdbcType=INTEGER}, #{instrumentId,jdbcType=VARCHAR}, 
      #{dateTime}, #{coordinate,jdbcType=VARCHAR}, #{ph,jdbcType=DOUBLE}, 
      #{conductivity,jdbcType=DOUBLE}, #{waterTemperature,jdbcType=DOUBLE}, #{ammoniaNitrogen,jdbcType=DOUBLE}, 
      #{dissolvedOxygen,jdbcType=DOUBLE}, #{level,jdbcType=DOUBLE}, #{exception,jdbcType=BIT}, 
      #{ntu,jdbcType=DOUBLE}, #{p,jdbcType=DOUBLE}
	</sql>
	
	<sql id="publicInsertCol"> 
		id, model, instrument_id, date_time, coordinate, ph, conductivity, water_temperature, 
	    ammonia_nitrogen, dissolved_oxygen, level, exception, ntu, P
    </sql>
	
	<!-- 所有设值列 -->
	<sql id="publicSet">  
	  id = #{id,jdbcType=INTEGER},
	  model = #{model,jdbcType=INTEGER},
      instrument_id = #{instrumentId,jdbcType=VARCHAR},
      date_time = #{dateTime},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      ph = #{ph,jdbcType=DOUBLE},
      conductivity = #{conductivity,jdbcType=DOUBLE},
      water_temperature = #{waterTemperature,jdbcType=DOUBLE},
      ammonia_nitrogen = #{ammoniaNitrogen,jdbcType=DOUBLE},
      dissolved_oxygen = #{dissolvedOxygen,jdbcType=DOUBLE},
      level = #{level,jdbcType=DOUBLE},
      exception = #{exception,jdbcType=BIT},
      ntu = #{ntu,jdbcType=DOUBLE},
      P = #{p,jdbcType=DOUBLE}	
	</sql>
	
	<!-- 主键条件 -->
	<sql id="publicWhereKey"> 
 		WHERE id = #{id} 
	</sql>
	
	<!-- 所有条件 -->
	<sql id="publicWhere"> 
	    WHERE 1=1 
	  <if test="id != null">
	   	AND id = #{id}
	  </if>
	  <if test="model != null" >
        AND model = #{model,jdbcType=INTEGER}
      </if>
      <if test="instrumentId != null" >
        AND instrument_id = #{instrumentId,jdbcType=VARCHAR}
      </if>
      <if test="dateTime != null" >
        AND date_time = #{dateTime}
      </if>
      <if test="coordinate != null" >
        AND coordinate = #{coordinate,jdbcType=VARCHAR}
      </if>
      <if test="ph != null" >
        AND ph = #{ph,jdbcType=DOUBLE}
      </if>
      <if test="conductivity != null" >
        AND conductivity = #{conductivity,jdbcType=DOUBLE}
      </if>
      <if test="waterTemperature != null" >
        AND water_temperature = #{waterTemperature,jdbcType=DOUBLE}
      </if>
      <if test="ammoniaNitrogen != null" >
        AND ammonia_nitrogen = #{ammoniaNitrogen,jdbcType=DOUBLE}
      </if>
      <if test="dissolvedOxygen != null" >
        AND dissolved_oxygen = #{dissolvedOxygen,jdbcType=DOUBLE}
      </if>
      <if test="level != null" >
        AND level = #{level,jdbcType=DOUBLE}
      </if>
      <if test="exception != null" >
        AND exception = #{exception,jdbcType=BIT}
      </if>
      <if test="ntu != null" >
        AND ntu = #{ntu,jdbcType=DOUBLE}
      </if>
      <if test="p != null" >
        AND P = #{p,jdbcType=DOUBLE}
      </if>
	</sql>
	
	<!-- *********************************添加********************************* -->
	<!-- 新增 -->
	<insert id="insertYascmfDatas" parameterType="YascmfDatasVO" > 
         INSERT INTO yasi.yascmf_datas (<include refid="publicInsertCol"/>) 
         VALUES (<include refid="publicInCol"/>) 
     </insert> 

	<!-- *********************************修改********************************* -->
	<!-- 修改 -->
<!--     <update id="updateSignTaskRec" parameterType="SignTaskRecVO" >  -->
<!--         UPDATE activity.sign_task_rec SET <include refid="publicSet"/>  -->
<!--         <include refid="publicWhereKey"/>   -->
<!--     </update>  -->
	
	<!-- *********************************删除********************************* -->
	<!-- 删除 -->
<!--     <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
<!--         DELETE FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhereKey"/>  -->
<!--     </delete> -->
    
    <!-- *********************************查询********************************* -->
	<!-- 根据主键查询信息 -->
<!--     <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO" > -->
<!-- 	    SELECT <include refid="publicOutCol"/>  FROM activity.sign_task_rec  -->
<!-- 	    <include refid="publicWhereKey"/>  -->
<!--     </select> -->
   
	<!-- 获取记录数 -->
	<select id="findYascmfDatasCountByPojo"  parameterType="YascmfDatasVO" resultType="java.lang.Integer">
        SELECT count(*) FROM yasi.yascmf_datas 
		<include refid="publicWhere"/>    
    </select>
    
    <!-- 对象条件查询 -->
    <select id="findYascmfDatasByPojo"  parameterType="YascmfDatasVO" resultType="YascmfDatasVO"> 
		SELECT <include refid="publicOutCol"/> FROM yasi.yascmf_datas 
		<include refid="publicWhere"/>
		ORDER BY id DESC;
    </select>
     
    <!-- 对象条件查询 -->
    <select id="findYascmfDatasByTime" resultType="YascmfDatasVO"> 
		SELECT <include refid="publicOutCol"/> FROM yasi.yascmf_datas 
		 <![CDATA[
		WHERE instrument_id = #{instrumentId}
		AND date_time > #{startTime}
		AND date_time < #{endTime}
		]]>
		ORDER BY date_time ASC;
    </select>
    
    <!-- map条件查询 -->
<!--     <select id="findSignTaskRecByWhere"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
<!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhere"/> -->
<!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
<!-- 	        order by ${sortName}  ${orderName} -->
<!-- 	    </if>   -->
<!-- 	    <if test="pageStart != null and rows != null">   -->
<!-- 	        LIMIT #{pageStart},#{rows} -->
<!-- 	    </if>   -->
<!--     </select> -->
    
    <!-- 查询分页记录 -->
<!--     <select id="findSignTaskRecByPage"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
<!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhere"/>  -->
<!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
<!-- 	        order by ${sortName}  ${orderName} -->
<!-- 	    </if>   -->
<!-- 		LIMIT #{pageStart},#{rows} -->
<!--     </select> -->
    
    <!-- 根据条件获取列表信息 -->
<!-- 	<select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String" resultType="SignTaskRecVO" > -->
<!-- 	    SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec WHERE 1=1  -->
<!-- 	    <![CDATA[ -->
<!-- 	    ${querySql} -->
<!-- 	    ]]> -->
<!--     </select> -->
     
	
</mapper>
