<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasi.dao.YascmfContentsDao">
	<!-- *********************************公共嵌入块********************************* -->
	<!-- 所有输出列 -->
	<sql id="publicOutCol"> 
        yascmf_contents.id AS id,
        yascmf_contents.flag AS flag,
        yascmf_contents.title AS title,
        yascmf_contents.thumb AS thumb,
        yascmf_contents.content AS content,
        yascmf_contents.slug AS slug,
        yascmf_contents.type AS type,
        yascmf_contents.user_id AS userId,
        yascmf_contents.is_top AS isTop,
        yascmf_contents.owner_id AS ownerId,
        yascmf_contents.outer_link AS outerLink,
        yascmf_contents.category_id AS categoryId,
        yascmf_contents.deleted_at AS deletedAt,
        yascmf_contents.created_at AS createdAt,
        yascmf_contents.updated_at AS updatedAt
	</sql>
	
	<!-- 所有输入列 -->
	<sql id="publicInCol"> 
        #{id},#{flag},#{title},#{thumb},#{content},#{slug},#{type},#{userId},#{isTop},#{ownerId},#{outerLink},#{categoryId},#{deletedAt},#{createdAt},#{updatedAt}
	</sql>
	
	<sql id="publicInsertCol"> 
		id,flag,title,thumb,content,slug,type,user_id,is_top,owner_id,outer_link,category_id,deleted_at,created_at,updated_at
	</sql>
	
	<!-- 所有设值列 -->
	<sql id="publicSet">  
	id = #{id},
	flag = #{flag},
	title = #{title},
	thumb = #{thumb},
	content = #{content},
	slug = #{slug},
	type = #{type},
	user_id = #{userId},
	is_top = #{isTop},
	owner_id = #{ownerId},
	outer_link = #{outerLink},
	category_id = #{categoryId},
	deleted_at = #{deletedAt},
	created_at = #{createdAt},
	updated_at = #{updatedAt}
	</sql>
	
	<!-- 主键条件 -->
	<sql id="publicWhereKey"> 
		WHERE id = #{id} 
	</sql>
	
	<!-- 所有条件 -->
	<sql id="publicWhere"> 
	    WHERE 1=1 
	    		<if test="id != 0">
	    		AND yascmf_contents.id = #{id} 
	    		</if>
	    		<if test="flag != null and flag != ''">
	    		AND yascmf_contents.flag = #{flag}
	    		</if>
	    		<if test="title != null and title != ''">
	    		AND yascmf_contents.title = #{title}
	    		</if>
	    		<if test="thumb != null and thumb != ''">
	    		AND yascmf_contents.thumb = #{thumb}
	    		</if>
	    		<if test="content != null and content != ''">
	    		AND yascmf_contents.content = #{content}
	    		</if>
	    		<if test="slug != null and slug != ''">
	    		AND yascmf_contents.slug = #{slug}
	    		</if>
	    		<if test="type != null and type != ''">
	    		AND yascmf_contents.type = #{type}
	    		</if>
	    		<if test="userId != 0">
	    		AND yascmf_contents.user_id = #{userId}
	    		</if>
	    		<if test="isTop != 0">
	    		AND yascmf_contents.is_top = #{isTop}
	    		</if>
	    		<if test="ownerId != 0">
	    		AND yascmf_contents.owner_id = #{ownerId}
	    		</if>
	    		<if test="outerLink != null and outerLink != ''">
	    		AND yascmf_contents.outer_link = #{outerLink}
	    		</if>
	    		<if test="categoryId != 0">
	    		AND yascmf_contents.category_id = #{categoryId}
	    		</if>
	    		<if test="deletedAt != null and deletedAt != ''">
	    		AND yascmf_contents.deleted_at = #{deletedAt}
	    		</if>
	    		<if test="createdAt != null and createdAt != ''">
	    		AND yascmf_contents.created_at = #{createdAt}
	    		</if>
	    		<if test="updatedAt != null and updatedAt != ''">
	    		AND yascmf_contents.updated_at = #{updatedAt}
	    		</if>
	</sql>
	
	<!-- *********************************添加********************************* -->
	<!-- 新增 -->
<!--     <insert id="insertEmp" parameterType="EmpVO" > -->
<!--         INSERT INTO test2.emp (<include refid="publicInsertCol"/>)  -->
<!--         VALUES (<include refid="publicInCol"/>) -->
<!--     </insert> -->

	<!-- *********************************修改********************************* -->
	<!-- 修改 -->
<!--     <update id="updateSignTaskRec" parameterType="SignTaskRecVO" >  -->
<!--         UPDATE activity.sign_task_rec SET <include refid="publicSet"/>  -->
<!--         <include refid="publicWhereKey"/>   -->
<!--     </update>  -->
	
	<!-- *********************************删除********************************* -->
	<!-- 删除 -->
<!--     <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
<!--         DELETE FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhereKey"/>  -->
<!--     </delete> -->
    
    <!-- *********************************查询********************************* -->
	<!-- 根据主键查询信息 -->
<!--     <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO" > -->
<!-- 	    SELECT <include refid="publicOutCol"/>  FROM activity.sign_task_rec  -->
<!-- 	    <include refid="publicWhereKey"/>  -->
<!--     </select> -->
   
	<!-- 获取记录数 -->
<!--     <select id="findSignTaskRecCountByPojo"  parameterType="SignTaskRecVO" resultType="java.lang.Integer"> -->
<!--         SELECT count(*) FROM activity.sign_task_rec <include refid="publicWhere"/>     -->
<!--     </select>  -->
    
    <!-- 对象条件查询 -->
    <select id="findYascmfContentsByPojo"  parameterType="YascmfContentsVO" resultType="YascmfContentsVO"> 
		SELECT <include refid="publicOutCol"/> FROM yasi.yascmf_contents 
		<include refid="publicWhere"/>
    </select>
     
    <!-- map条件查询 -->
<!--     <select id="findSignTaskRecByWhere"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
<!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhere"/> -->
<!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
<!-- 	        order by ${sortName}  ${orderName} -->
<!-- 	    </if>   -->
<!-- 	    <if test="pageStart != null and rows != null">   -->
<!-- 	        LIMIT #{pageStart},#{rows} -->
<!-- 	    </if>   -->
<!--     </select> -->
    
    <!-- 查询分页记录 -->
<!--     <select id="findSignTaskRecByPage"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
<!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
<!-- 		<include refid="publicWhere"/>  -->
<!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
<!-- 	        order by ${sortName}  ${orderName} -->
<!-- 	    </if>   -->
<!-- 		LIMIT #{pageStart},#{rows} -->
<!--     </select> -->
    
    <!-- 根据条件获取列表信息 -->
<!-- 	<select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String" resultType="SignTaskRecVO" > -->
<!-- 	    SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec WHERE 1=1  -->
<!-- 	    <![CDATA[ -->
<!-- 	    ${querySql} -->
<!-- 	    ]]> -->
<!--     </select> -->
     
	
</mapper>
