<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 配置Controller,Component扫描 -->
    <!--<context:component-scan base-package="com.*.web"/>-->
    <!--<context:component-scan base-package="com.hlj.timer"/>-->
    <context:component-scan base-package="com.*"/>

    <!-- 加载系统配置文件 -->
    <util:properties id="sysconf" local-override="true" location="classpath:sysconf.properties"/>

    <!-- 配置注解驱动 -->
    <mvc:annotation-driven/>

    <!-- 未登录拦截,上线的时候要取消注释,在生产环境才注释-->
    <!--<mvc:interceptors>-->
    <!--<mvc:interceptor>-->
    <!--&lt;!&ndash; 登录被拦截器拦截 &ndash;&gt;-->
    <!--<mvc:mapping path="/**"/>-->
    <!--&lt;!&ndash; 配置具体的拦截器 &ndash;&gt;-->
    <!--<bean class="com.common.system.LoginHandlerInterceptor"/>-->
    <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 定时任务线程池 -->
    <!--<bean id="userThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
        <!--<property name="corePoolSize" value="10"></property>-->
        <!--<property name="maxPoolSize" value="100"></property>-->
        <!--<property name="queueCapacity" value="2000"></property>-->
        <!--<property name="threadFactory" value="threadFactory"/>-->
    <!--</bean>-->
</beans>
