.main {
    float: left;
    width: 73%;

}

.main-title {

}

.main-title-name {
    height: 18px;
    padding: 0px 0px 0px 10px;
    line-height: 18px;
    margin: 20px 0px 20px 20px;
    border-left: 2px solid #3dc69b;
    font-size: 18px;
}

.main-title-line {
    margin:0 20px 0 20px;
    border-bottom: 1px solid #dddddd;
}

.line-one {
    margin:20px 0 20px 0;
}

.select-unit {
    float: left;
    width: 280px;
    height: 32px;
    margin: 0 20px 0 20px;
}

.select-unit-a {
    float: left;
    text-size: 18px;
    text-align: center;
    height: 30px;
    width: 136px;
    line-height: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.select-unit-b {
    float: left;
    margin-left: 5px;
    text-size: 18px;
    text-align: center;
    height: 32px;
    width: 136px;
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.select-unit-c {
    float: left;
    text-size: 18px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 278px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.select-unit-c:hover {
    background-color: #00a566;
    color: #ffffff;
}

.main-select-line {
    margin:0 20px 0 20px;
    border-bottom: 1px solid #dddddd;
}

.record {
    /*z-index: 1;*/
    /*width : 770px;*/
}

.record .paging {
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom:40px;
}

.record .recordname {
    height: 44px;
    line-height: 44px;
    font-size: 23px;
    color: #333;
    margin-top: 30px;
    margin-left:20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}

.record .recordcontent {
    width : 800px;
    margin-top: 20px;
    margin-left: 20px;
}

.record .recordcontent .record-unit {
    width : 700px;
    height : 120px;
    margin-left:20px;
    border-bottom: 1px solid #eee;
}

.record .paging .btlist {
    cursor: pointer;
    text-align:center;
    border:1px solid #DDDDDD;
    magrin-left:5px;
    float:left;
    width:40px;
    height:30px;
    display: inline;
    line-height: 30px;
    font-size: 13px;
    color: #4FA5DC;
}

.record .paging .btactive {
    background-color: #F5F5F5;
    color:#B2B0A7;
}

.recordcontent .record-unit img{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.recordcontent .record-unit .info {
    width:330px;
    height:100px;
    margin-top:18px;
    margin-left:20px;
}

.recordcontent .record-unit .info p {
    font-size: 16px;
    line-height: 20px;
    height:20px;
    color: #333;
    margin-bottom:6px;
}

.recordcontent .record-unit .info p:last-child {
    font-size: 18px;
    line-height: 20px;
    height:20px;
    color: #29C192;
    margin-bottom:6px;
}

