body {
    background: #12273c;
}

.title-row {
    color: #ffffff;
    height: 90px;
}

.time-title {
    padding: 15px;
    font-size: 14px;
    margin-left: -15px;
}

.main-title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    height: 80px;
    line-height: 80px;

    background: #233d62;

    box-shadow: 4px 2px 6px #233d62,
    -4px 2px 6px #233d62,
    4px -2px 6px #233d62,
    -4px -2px 6px #233d62;
}

.time-range {
    float: right;
}

.time-range a {
    display: block;
    float: left;
    color: #ffffff;
    width: 55px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #4d79d2;
}

.time-range a.active {
    background-color: #edc74a;
}

.box {
}

.box-inner {
    margin: 10px;
}

.box-content {
}

.box-button {
    position: absolute;
    right: 30px;
    margin-top: -30px;
}

.pre_button, .next_button {
    height: 20px;
    cursor: pointer;
}

.pre_button {
}

.next_button {
}

.box-content h3 {
    background: url("../../img/datav/bor.png") no-repeat center;
    text-align: center;
    font-size: 22px;
    color: #5ea7dc;
    height: 54px;
    line-height: 54px;

    margin: 10px 10px 10px 20px;
}

.summary {
    margin: 35px 50px 50px 50px;
}

.summary-item {
    float: left;
    width: 25%;
    text-align: left;
}

.summary-title {
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-number {
    margin-top: 15px;
    font-size: 32px;
    color: #f6c044;
}

table {
    width: 100%;
    color: #ffffff;
}

table th {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 5px;
    color: #5ea7dc;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table td {
    text-align: center;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}

table tr:nth-child(even) td {
}

table tr:nth-child(odd) td {
    background: #2f4459;
}

.table-title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    color: #4bc2d6;
}

.box-content div {
    padding-bottom: 1rem;
}

.anchorBL {
    display: none;
}

/*.BMap_noprint{*/
/*display:none;  //去除右上角的地图按钮*/
/*}*/

/* 大型屏幕(桌面) */
@media screen and (min-width: 1900px) {
    body {
    }

    .summary {
        margin: 35px 80px 50px 80px;
    }

    .summary-item {
    }

    .summary-title {
        font-size: 24px;
    }

    .summary-number {
        margin-top: 20px;
        font-size: 48px;
    }

    /*.title-row{*/
    /*margin-bottom: 40px;*/
    /*}*/
    /*.box {*/
    /*margin-bottom: 20px;*/
    /*}*/
}

/* 小屏型幕(桌面) */
@media screen and (max-height: 768px) and (min-height: 600px) and (min-width: 768px) {
    .title-row {
        height: 55px;
    }

    .main-title {
        font-size: 22px;
        height: 50px;
        line-height: 50px;
    }

    .box-content h3 {
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        background-size: contain;
    }

    /*用一个无滚动条的div包裹另一个有滚动条的div*/
    #cptj-box {
        height: 180px;
        overflow: hidden;
        width: 100%;
    }

    #cptj-box .box-inner {
        height: 100%;
        margin-right: -18px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* 超小屏幕(手机) */
@media screen and (max-width: 768px) {
    .title-row {
    }

    .time-title {
        display: none;
    }

    .main-title {
        font-size: 20px;
        height: 60px;
        line-height: 60px;

        box-shadow: none;
    }

    .time-range {
        margin: 0 0 0 0;
    }

    .time-range a {
    }

    .summary {
        margin: 20px 10px 20px 10px;
    }

    .summary-item {
        width: 33%;
        text-align: center;
    }

    .summary-title {
        font-size: 16px;
    }

    .summary-number {
        margin-top: 15px;
        font-size: 20px;
    }
}

.point-label {
    margin: 20px 0 0 20px;
}

/*蓝点*/
.point-blue {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #2090ff;
    border-radius: 50%;
    border: 1px solid #2090ff;
}

/*黄点*/
.point-yellow {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #febe3c;
    border-radius: 50%;
    border: 1px solid #febe3c;
    margin-top: 10px;
}

/*无人船*/
.circle {
    position: absolute;
    width: 12px;
    height: 12px;
    color: #2090ff;
    /*background: #2090ff;*/
    border-radius: 50%;
    /*border: 1px solid #2090ff;*/
    /*animation:myfirst 45s;*/
    /*animation-timing-function:linear;*/
    /*-moz-animation:myfirst 45s; !* Firefox *!*/
    /*-webkit-animation:myfirst 45s; !* Safari and Chrome *!*/
    /*-o-animation:myfirst 45s; !* Opera *!*/
    /*animation-iteration-count:infinite;*/
    /*-webkit-animation-iteration-count:infinite;*/
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 90s;
    -moz-animation-duration: 90s; /* Firefox */
    -o-animation-duration: 90s; /* Opera */
    -webkit-animation-iteration-count: infinite; /*无限循环*/
    -webkit-animation-timing-function: linear;
}

/*无人机*/
.circle02 {
    position: absolute;
    width: 12px;
    height: 12px;
    color: #febe3c;
    /*background: #febe3c;*/
    border-radius: 50%;
    /*border: 1px solid #febe3c;*/
    /*animation:myfirst02 15s;*/
    /*animation-timing-function:linear;*/
    /*-moz-animation:myfirst02 15s; !* Firefox *!*/
    /*-webkit-animation:myfirst02 15s; !* Safari and Chrome *!*/
    /*-o-animation:myfirst02 15s; !* Opera *!*/
    /*animation-iteration-count:infinite;*/
    /*-webkit-animation-iteraton-count:infinite;*/
    /*-webkit-animation-name: myfirst02;*/
    /*-webkit-animation-duration: 30s;*/
    /*-moz-animation-duration: 30s; !* Firefox *!*/
    /*-o-animation-duration: 30s; !* Opera *!*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    -webkit-animation-name: myfirst02;
    -webkit-animation-duration: 90s;
    -moz-animation-duration: 90s; /* Firefox */
    -o-animation-duration: 90s; /* Opera */
    -webkit-animation-iteration-count: infinite; /*无限循环*/
    -webkit-animation-timing-function: linear;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
    z-index: 1;
}

.showImg {
    position: fixed;
    top: 0;
    right: 0;
    /*filter:alpha(opacity=50);*/
    /*-moz-opacity:0.5;*/
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.showImg .picture {
    position: absolute;
    top: 0;
    left: 0;
    /*width:800px;
      height:700px;
      margin-top:-350px;
      margin-left:-400px; */
    background-color: #ffffff;
    /*border:3px solid black;*/
    z-index: 2;
}

#uavPicture {
    cursor: pointer;
}

.smallCircle {
    width: 20px;
    height: 20px;
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    color: blue;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
}

@keyframes myfirst02 {
    100% {
        left: 200px;
        top: 200px;
    }
    95% {
        left: 250px;
        top: 190px;
    }
    90% {
        left: 300px;
        top: 190px;
    }
    85% {
        left: 350px;
        top: 220px;
    }
    80% {
        left: 400px;
        top: 220px;
    }
    75% {
        left: 430px;
        top: 250px;
    }
    70% {
        left: 430px;
        top: 300px;
    }
    65% {
        left: 480px;
        top: 350px;
    }
    60% {
        left: 530px;
        top: 380px;
    }
    55% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    45% {
        left: 400px;
        top: 450px;
    }
    40% {
        left: 350px;
        top: 420px;
    }
    35% {
        left: 300px;
        top: 420px;
    }
    30% {
        left: 250px;
        top: 450px;
    }
    25% {
        left: 200px;
        top: 450px;
    }
    20% {
        left: 150px;
        top: 400px;
    }
    15% {
        left: 180px;
        top: 350px;
    }
    10% {
        left: 190px;
        top: 300px;
    }
    5% {
        left: 195px;
        top: 250px;
    }
    0% {
        left: 200px;
        top: 200px;
    }
}

@-moz-keyframes myfirst02 /* Firefox */
{
    100% {
        left: 200px;
        top: 200px;
    }
    95% {
        left: 250px;
        top: 190px;
    }
    90% {
        left: 300px;
        top: 190px;
    }
    85% {
        left: 350px;
        top: 220px;
    }
    80% {
        left: 400px;
        top: 220px;
    }
    75% {
        left: 430px;
        top: 250px;
    }
    70% {
        left: 430px;
        top: 300px;
    }
    65% {
        left: 480px;
        top: 350px;
    }
    60% {
        left: 530px;
        top: 380px;
    }
    55% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    45% {
        left: 400px;
        top: 450px;
    }
    40% {
        left: 350px;
        top: 420px;
    }
    35% {
        left: 300px;
        top: 420px;
    }
    30% {
        left: 250px;
        top: 450px;
    }
    25% {
        left: 200px;
        top: 450px;
    }
    20% {
        left: 150px;
        top: 400px;
    }
    15% {
        left: 180px;
        top: 350px;
    }
    10% {
        left: 190px;
        top: 300px;
    }
    5% {
        left: 195px;
        top: 250px;
    }
    0% {
        left: 200px;
        top: 200px;
    }
}

@-webkit-keyframes myfirst02 /* Safari and Chrome */
{
    100% {
        left: 200px;
        top: 200px;
    }
    95% {
        left: 250px;
        top: 190px;
    }
    90% {
        left: 300px;
        top: 190px;
    }
    85% {
        left: 350px;
        top: 220px;
    }
    80% {
        left: 400px;
        top: 220px;
    }
    75% {
        left: 430px;
        top: 250px;
    }
    70% {
        left: 430px;
        top: 300px;
    }
    65% {
        left: 480px;
        top: 350px;
    }
    60% {
        left: 530px;
        top: 380px;
    }
    55% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    45% {
        left: 400px;
        top: 450px;
    }
    40% {
        left: 350px;
        top: 420px;
    }
    35% {
        left: 300px;
        top: 420px;
    }
    30% {
        left: 250px;
        top: 450px;
    }
    25% {
        left: 200px;
        top: 450px;
    }
    20% {
        left: 150px;
        top: 400px;
    }
    15% {
        left: 180px;
        top: 350px;
    }
    10% {
        left: 190px;
        top: 300px;
    }
    5% {
        left: 195px;
        top: 250px;
    }
    0% {
        left: 200px;
        top: 200px;
    }
}

@-o-keyframes myfirst02 /* Opera */
{
    100% {
        left: 200px;
        top: 200px;
    }
    95% {
        left: 250px;
        top: 190px;
    }
    90% {
        left: 300px;
        top: 190px;
    }
    85% {
        left: 350px;
        top: 220px;
    }
    80% {
        left: 400px;
        top: 220px;
    }
    75% {
        left: 430px;
        top: 250px;
    }
    70% {
        left: 430px;
        top: 300px;
    }
    65% {
        left: 480px;
        top: 350px;
    }
    60% {
        left: 530px;
        top: 380px;
    }
    55% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    45% {
        left: 400px;
        top: 450px;
    }
    40% {
        left: 350px;
        top: 420px;
    }
    35% {
        left: 300px;
        top: 420px;
    }
    30% {
        left: 250px;
        top: 450px;
    }
    25% {
        left: 200px;
        top: 450px;
    }
    20% {
        left: 150px;
        top: 400px;
    }
    15% {
        left: 180px;
        top: 350px;
    }
    10% {
        left: 190px;
        top: 300px;
    }
    5% {
        left: 195px;
        top: 250px;
    }
    0% {
        left: 200px;
        top: 200px;
    }
}

@keyframes myfirst {
    0% {
        left: 200px;
        top: 200px;
    }
    5% {
        left: 250px;
        top: 190px;
    }
    10% {
        left: 300px;
        top: 190px;
    }
    15% {
        left: 350px;
        top: 220px;
    }
    20% {
        left: 400px;
        top: 220px;
    }
    25% {
        left: 430px;
        top: 250px;
    }
    30% {
        left: 430px;
        top: 300px;
    }
    35% {
        left: 480px;
        top: 350px;
    }
    40% {
        left: 530px;
        top: 380px;
    }
    45% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    55% {
        left: 400px;
        top: 450px;
    }
    60% {
        left: 350px;
        top: 420px;
    }
    65% {
        left: 300px;
        top: 420px;
    }
    70% {
        left: 250px;
        top: 450px;
    }
    75% {
        left: 200px;
        top: 450px;
    }
    80% {
        left: 150px;
        top: 400px;
    }
    85% {
        left: 180px;
        top: 350px;
    }
    90% {
        left: 190px;
        top: 300px;
    }
    95% {
        left: 195px;
        top: 250px;
    }
    100% {
        left: 200px;
        top: 200px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0% {
        left: 200px;
        top: 200px;
    }
    5% {
        left: 250px;
        top: 190px;
    }
    10% {
        left: 300px;
        top: 190px;
    }
    15% {
        left: 350px;
        top: 220px;
    }
    20% {
        left: 400px;
        top: 220px;
    }
    25% {
        left: 430px;
        top: 250px;
    }
    30% {
        left: 430px;
        top: 300px;
    }
    35% {
        left: 480px;
        top: 350px;
    }
    40% {
        left: 530px;
        top: 380px;
    }
    45% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    55% {
        left: 400px;
        top: 450px;
    }
    60% {
        left: 350px;
        top: 420px;
    }
    65% {
        left: 300px;
        top: 420px;
    }
    70% {
        left: 250px;
        top: 450px;
    }
    75% {
        left: 200px;
        top: 450px;
    }
    80% {
        left: 150px;
        top: 400px;
    }
    85% {
        left: 180px;
        top: 350px;
    }
    90% {
        left: 190px;
        top: 300px;
    }
    95% {
        left: 195px;
        top: 250px;
    }
    100% {
        left: 200px;
        top: 200px;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        left: 200px;
        top: 200px;
    }
    5% {
        left: 250px;
        top: 190px;
    }
    10% {
        left: 300px;
        top: 190px;
    }
    15% {
        left: 350px;
        top: 220px;
    }
    20% {
        left: 400px;
        top: 220px;
    }
    25% {
        left: 430px;
        top: 250px;
    }
    30% {
        left: 430px;
        top: 300px;
    }
    35% {
        left: 480px;
        top: 350px;
    }
    40% {
        left: 530px;
        top: 380px;
    }
    45% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    55% {
        left: 400px;
        top: 450px;
    }
    60% {
        left: 350px;
        top: 420px;
    }
    65% {
        left: 300px;
        top: 420px;
    }
    70% {
        left: 250px;
        top: 450px;
    }
    75% {
        left: 200px;
        top: 450px;
    }
    80% {
        left: 150px;
        top: 400px;
    }
    85% {
        left: 180px;
        top: 350px;
    }
    90% {
        left: 190px;
        top: 300px;
    }
    95% {
        left: 195px;
        top: 250px;
    }
    100% {
        left: 200px;
        top: 200px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0% {
        left: 200px;
        top: 200px;
    }
    5% {
        left: 250px;
        top: 190px;
    }
    10% {
        left: 300px;
        top: 190px;
    }
    15% {
        left: 350px;
        top: 220px;
    }
    20% {
        left: 400px;
        top: 220px;
    }
    25% {
        left: 430px;
        top: 250px;
    }
    30% {
        left: 430px;
        top: 300px;
    }
    35% {
        left: 480px;
        top: 350px;
    }
    40% {
        left: 530px;
        top: 380px;
    }
    45% {
        left: 500px;
        top: 410px;
    }
    50% {
        left: 450px;
        top: 450px;
    }
    55% {
        left: 400px;
        top: 450px;
    }
    60% {
        left: 350px;
        top: 420px;
    }
    65% {
        left: 300px;
        top: 420px;
    }
    70% {
        left: 250px;
        top: 450px;
    }
    75% {
        left: 200px;
        top: 450px;
    }
    80% {
        left: 150px;
        top: 400px;
    }
    85% {
        left: 180px;
        top: 350px;
    }
    90% {
        left: 190px;
        top: 300px;
    }
    95% {
        left: 195px;
        top: 250px;
    }
    100% {
        left: 200px;
        top: 200px;
    }
}
.infowindow {
    background-color: white;
    height: 105px;
    width: 200px;
}

.infowindow-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.infowindow-instrument {
    float: left;
    width:100px;
    margin-left: 10px;
}

.infowindow-link {
    display: block;
    float: right;
    width: 77px;
    color: #3dc69b;
    font-size: 16px;
}

.infowindow-line {
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid #dddddd;
}

.infowindow-province {
    height: 30px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 400;
}

.province-name {
    float: left;
    width: 105px;
}

.province-value {
    float: right;
    width: 85px;
}

.infowindow-city {
    height: 30px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 400;
}

.city-name {
    float: left;
    width: 105px;
}

.city-value {
    float: right;
    width: 85px;
}

.infowindow-country {
    height: 30px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 400;
}

.country-name {
    float: left;
    width: 105px;
}

.country-value {
    float: right;
    width: 85px;
}

.infowindow-address {
    height: 30px;
    margin-top: 10px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 400;
}

.address-name {
    float: left;
    width: 105px;
}

.address-value {
    float: right;
    width: 85px;
}